<%= form_for(@ckeditor_test) do |f| %>
  <% if @ckeditor_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ckeditor_test.errors.count, "error") %> prohibited this ckeditor_test from being saved:</h2>

      <ul>
      <% @ckeditor_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :id => 'sometext' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
