<%= render "/alchemy/partial/header" %>
<div class="container">
  <% if params[:urlname] == 'index' %>
    <div>
      <% @pages.each do |page| %>
        <% if page.title %>
          <blockquote>
            <p>
            <%= link_to page.title, root_path(urlname: page.urlname) %>
            </p>
            <% page.tag_list.each do |tag| %>
              <span>
                <%= link_to tag, root_path(tag_name: tag), class: "label label-default" %>
              </span>
            <% end %>
            <small>
              <span><%= page.meta_description %></span>
            </small>
          </blockquote>
        <% end %>
      <% end %>
    </div>

    <%= paginate @pages %>
  <% end %>
</div>
<div class="floatDiv">
  <div class="floatTitle">tags</div>
  <div class="floatBody">
    <% @page_tags.each do |tag| %>
      <p><%= link_to tag.name, root_path(tag_name: tag.name) %></p>
    <% end %>
  </div>
</div>
